<div style="text-align: center;color:rgb(120,120,0)"> <h1>Importing libraries</h1></div>

In [110]:
import pandas as pd
import re

<div style="text-align: center;color:rgb(120,120,0)"> <h1>Data exploration</h1></div>

<div style="text-align: center"> <h2>Overview</h2></div>

In [9]:
df=pd.read_csv('dataset/df_job.csv', encoding = 'ISO-8859-1')

In [82]:
print(f'Rows: {df.shape[0]}\nColumns: {df.shape[1]}')

Rows: 3198
Columns: 8

In [12]:
df.dtypes

Company                       object
Job Title                     object
Location                      object
Job Type                      object
Experience level              object
Salary                        object
Requirment of the company     object
Facilities                    object
dtype: object

In [92]:
df.head().style.set_properties(**{'background-color': '#00b4','color': 'white','border-color': '#8b8c8c'}).highlight_null(color="red")

In [84]:
df.tail().style.set_properties(**{'background-color': '#00b9','color': 'white','border-color': '#8b8c8c'},highlight_null="red").highlight_null(color="red")

In [63]:
df.isnull().sum()

Company                         1
Job Title                       1
Location                        1
Job Type                        1
Experience level              236
Salary                        189
Requirment of the company       0
Facilities                      0
dtype: int64

In [64]:
df.nunique()

Company                       1106
Job Title                     2138
Location                      1117
Job Type                         3
Experience level                 4
Salary                         218
Requirment of the company     2600
Facilities                     777
dtype: int64

In [65]:
df.duplicated().sum()

202

<div style="text-align: center;color:rgb(120,120,0)"> <h1>Data cleaning</h1></div>

In [184]:
import pycountry


newdf=df.dropna()

def salary_corr(txt):
    return int(re.findall(r'\d+', txt)[0])*100

def detect_country_name(location_name):
    locstion_name=location_name.split(',')[-1]
    try:
        location_name=pycountry.countries.search_fuzzy(location_name)[0].name
    except:
        pass
    print(location_name)
    return location_name



newdf['Salary']=newdf['Salary'].apply(salary_corr)

newdf['country']=newdf['Location'].apply(detect_country_name)

newdf

C:\Users\Youcode\AppData\Local\Temp\ipykernel_76908\294251041.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['country']=newdf['Location'].apply(detect_country_name)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,country
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,4800,"Computer Science,Data quality,Genetics,Mathema...",",,,,","Richardson, TX, United States"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,4800,"Agile,Data management,Finance,Security,,",",,,,","Ebène, Mauritius"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,4800,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,","Nonantola, Italy"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,10800,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi...","Arlington, VA, United States"
5,ServiceNow,Sr Staff Data Scientist - ATG,"Kirkland, Washington, United States",Full Time,Senior-level,18400,"Computer Science,Deep Learning,Industrial,Mach...","401(k) matching,Career development,Competitive...","Kirkland, Washington, United States"
...,...,...,...,...,...,...,...,...,...
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,3900,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,","Biñan, Philippines"
3194,Experian,Cloud Data Analyst,"Heredia, Costa Rica",Full Time,Senior-level,9200,"AWS,Big Data,Computer Science,GCP,Snowflake,SQL","Equity,Medical leave,Salary bonus,,","Heredia, Costa Rica"
3195,Locus Robotics,"Robotics Engineer, Sensors","Wilmington, MA, United States",Full Time,Senior-level,6200,"E-commerce,Engineering,Linux,Python,Robotics,S...",",,,,","Wilmington, MA, United States"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,3900,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,","Edmonton, Alberta, Canada"
3197,Shippeo,Senior Data Engineer,"Paris, France",Full Time,Senior-level,11500,"Airflow,Architecture,BigQuery,CI/CD,Computer S...",",,,,","Paris, France"